

a
{
  text-decoration: none;
  color: #000000;

  transition: color 0.3s ease;
}

#menuToggle li:hover
{
  color: white;


}

#menuToggle
{
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;

  z-index: 2;

  -webkit-user-select: none;
  user-select: none;
}

footer {
  display: block;
  text-align: center;
  margin-bottom: 50px;
  background-color: 
}



#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 3;

  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: black;
  border-radius: 3px;

  z-index: 2;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);

}

#menu
{
  position: fixed;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

  height: 105vh;
}

#menu li
{
  padding: 10px 0 0 0 ;
  font-size: 22px;
  color:black;
  transition: color 0.3s ease;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}


}
#fts{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 45px;
  color: white;
}
#aa{
font-size: 20px;
color: white;
}

  }
.typewrite{
  font-size: 2vw;
  font-weight: 400;
  font-style: normal;
  justify-content: center;
  text-align: center;
  color: white;
  margin-top: -155px;
  text-decoration: none;
  margin-top: 140px;
  margin-left: %;
}
#Type{

  height: 1000px;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  text-align: center;
  color: #99D5C9;
  text-decoration: none;
  position: ;


}
a:visited{
text-decoration: none;
}
#Tagline{

}
#mnts{

  background: url("/pictures/_MG_9751.jpg")
   no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-sizing: border-box;
}
.container {
  position: relative;
  text-align: center;
  color: white;
  /* margin: 20px 40px 40px 40px; */
  border-radius: 10px;


}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  margin-left: 0%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
  background-color: ;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
 /*  padding: 0 0px; */
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 10px;
  margin-left: 20px;

}

.column img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
  border-radius: 10px;
  background-color: white;

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
#row1{
  margin-top: 20%;
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: space-around;
  max-width: 85%;
  margin: 0 auto;
}
#row2{
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: space-around;
  max-width: 85%;
  margin: 0 auto;
}
#row3{
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: space-around;
  max-width: 85%;
  margin: 0 auto;
}
#row4{
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: space-around;
  justify-content: baseline;
  max-width: 85%;
  margin: 0 auto;
}
.container{
  flex-grow: 1;
  min-width: 25%;
  margin-top: 1%;
  cursor: pointer;
  transition: width 1s;
}



.img{
  max-width: 95%;
  border-radius: 10px;
  min-width: 95%;
}

#food2{
  width: 385%;
}
#deals2{
  width: 385%;
}
#shop2{
  width: 385%;
  height: auto;
}
#shop{
  height: 550%;
}

b{
  justify-content: center;
  text-align: center;
  color: black;
  margin-top: -200px;
  text-decoration: none;
  font-size: 4vw;
  margin-left: %;
  font-family: rig-solid-bold-inline,sans-serif;
  font-weight: 700;
  font-style: normal;
  min-width: 100%;


}
.grid-text{
  color: black;
  font-size: 2vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.grid-text:hover{
  color: #99D5C9;

}
#privacy{
  color: white;
}
#user-agreement{
  color: white;
}
#city{
  position: relative;
  margin-top: 215px;

}
#city-pic{
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 50%;
  margin-bottom: 10%;
}
#CityPic{
  border-radius: 10px;
}
#table{
  margin-top: -.75%;
  margin-bottom: 5%;
}
#bubbles{
  margin-top: 7%;
  margin-bottom: 7%;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62,5%;
}



.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  margin-top: 5%;
  padding: 1.5rem 2rem;
  border-radius: 0.8rem;
  background-color: #EFEFEF;
  border: none;
  width: 50%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: 53vw;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #EFEFEF;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #EFEFEF; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
button{
  cursor: pointer;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}


.fa:hover {
  opacity: 0.7;
}


/* Facebook */
.fa-facebook {
  background: #99D5C9;
  color: white;
  margin-left: 2%;
    margin-right: 2%;
}

/* Twitter */
.fa-twitter {
  background:#99D5C9;
  color: white;
    margin-left: 2%;
    margin-right: 2%;
}
/* Instagram */
.fa-instagram {
  background: #99D5C9;
  color: white;
    margin-left: 2%;
}
#background-wrap {
    bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

@keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;

	left: -5%;
	top: 5%;

	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;

	left: 5%;
	top: 80%;

	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;

	left: 10%;
	top: 40%;

	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.x4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;

	left: 20%;
	top: 0;

	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;

	left: 30%;
	top: 50%;

	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;

	left: 50%;
	top: 0;

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;

	left: 65%;
	top: 70%;

	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;

	left: 80%;
	top: 10%;

	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;

	left: 90%;
	top: 50%;

	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;

	left: 80%;
	top: 80%;

	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

/* OBJECTS */

.bubble {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);

    height: 200px;
	position: absolute;
	width: 200px;
}

.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);

	content: "";
    height: 180px;
	left: 10px;
	position: absolute;
	width: 180px;
}

#shop2{
  width: 385%;
  transition: width 1s;
}

#shop2:hover{
  width: 600%;
}

#deals2{
  width: 385%;
  transition: width 1s;
}

#deals2:hover{
  width: 600%;
}

#food2{
  width: 385%;
  transition: width 1s;
}

#food2:hover{
  width: 600%;
}

#events2{
  width: 385%;
  transition: width 1s;
}

#events2:hover{
  width: 600%;
}

#outdoors2{
  width: 385%;
  transition: width 1s;
}

#outdoors2:hover{
  width: 600%;
}

#music2{
  width: 385%;
  transition: width 1s;
}

#music2:hover{
  width: 600%;
}

#clubs2{
  width: 385%;
  transition: width 1s;
}

#clubs2:hover{
  width: 600%;
}

#museums2{
  width: 385%;
  transition: width 1s;
}

#museums2:hover{
  width: 600%;
}

#art2{
  width: 385%;
  transition: width 1s;
}

#art2:hover{
  width: 600%;
}

#lodging2{
  align-self: flex-end;
  width: 385%;
  transition: width 1s;
}

#lodging2:hover{
  align-self: flex-end;
  width: 600%;
}

#movies2{
  align-self: flex-end;
  width: 385%;
  transition: width 1s;
}

#movies2:hover{
  width: 600%;
}

#downtown2{
  align-self: flex-end;
  width: 385%;
  transition: width 1s;
}

#downtown2:hover{
  width: 600%;
}
